body {
  padding-top: 30px;
  padding-bottom: 50px;
  font-family: 'Roboto', sans-serif;
}

.navbar-fixed-top {
  border-bottom: 2px solid #000;
  border-image: url(media/images/color_spectrum.jpg) 1 round stretch;
}

.navbar-fixed-bottom {
  padding-top: 10px;
}

.navbar-nav a {
  border-top: 3px solid transparent;
}

.navbar-nav a:hover {
  border-top: 3px solid #e02020;
}

.starter-template {
  padding: 40px 15px;
}

.navbar-brand {
  padding-top: 8px;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
  color: black;
}

.carousel-indicators {
  bottom: 9px;
  left: 68%;
  padding: 0;
  text-align: right;
}

.carousel-caption {
  background: rgba(50, 50, 50, .7);
  position: relative;
  left: auto;
  right: auto;
  padding: 0;
  padding-left: 5%;
  text-align: left;
}

.carousel-inner img {
  padding-bottom: 20px;
}

.upmargin {
  margin-top: 30px;
}

.sectiontitle {
  background: #f32020;
  color: white;
  width: 30%;
  padding: 4px;
  margin-top: -10px;
}

.aws {
  background: #222020;
  background-image: url(media/images/dotted.png);
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: white;
}

.unix {
  background: #525050;
  background-image: url(media/images/dotted.png);
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: white;
}

.flags {
  padding-left: 5px;
}

.poweredby {
  color: white;
  margin-bottom: 8px;
}

